
.newTaskInfo {
  margin-top: 1.8rem;
  margin-left: auto;
  margin-right: auto;
  width: 40.83rem;
}

.newTask {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem;
  gap: 0.125rem;
  width: 40.9rem;
  height: 4.5rem;
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  align-self: stretch;
  margin-top: 1.5rem;
}

.newTaskItem {
  display: flex;
  width: 40rem;
}

textarea {
  margin-right: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.888rem;
  gap: 0.444rem;
  width: 35.444rem;
  height: 3rem;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 1;
  resize: none;
  overflow: hidden;
  color: var(--gray-100);
}

.newTask button {
  background: transparent;
  border: 0;
  border-radius: 2px;
  color: var(--gray-200);
  line-height: 0;
  cursor: pointer;
  transition: background-color 0.1s;
  display: flex;
  align-items: center;
}

.newTask button:hover {
  background: var(--red);
}

.checkbox {
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-size: 0.875rem;
  line-height: 140%;
  text-decoration-line: line-through;
  color: var(--gray-300);
  flex: none;
  order: 1;
  flex-grow: 1;
  margin-left: 0.5rem;
}

.checkboxUnchecked {
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--gray-100);  flex: none;
  order: 1;
  flex-grow: 1;
  margin-left: 0.5rem;
}

